    /* *********************** Hiding and Visible Scrol on Full Screen Modal ********************************/
function scrollopen()
{
    document.body.style.overflow = 'hidden';
}

function scrollclose(){
    document.body.style.overflow = 'visible';
}

function nowpost()
{
    $('#verification').slideToggle();
    $('#nextn').hide();
    $('#post').show();
}

function nowpost1()
{
  $("#useru").hide();
  $("#usernext").show();
  $("#already").show();
}

function checkdate(){
    
    var year = $("#post_requestdate_1i").val();
    var month = $("#post_requestdate_2i").val();
    var day = $("#post_requestdate_3i").val();
    alert(month)
    if(year == ""){
        $(".dateerrorspan").css('display' , 'none');
        var span = "<span class='dateerrorspan' style='color:red;'>**Please Enter year**</sapn>";
        $(".dateerror").append(span);
        e.preventDefault();    
        return false;
    }

    else if(year != "" && day != "" && month == ""){
        $(".dateerrorspan").css('display' , 'none');
        var span = "<span class='dateerrorspan' style='color:red;'>**Please Enter Month**</sapn>";
        $(".dateerror").append(span);
        e.preventDefault();    
        return false;
    }
}

$(document).ready(function() 
{
    $('#searchform').submit(function(e){
        //alert($(".datesearch").val());
        //alert($(".status").val());
        //alert($(".Name").val() == "");

        if($(".datesearch").val() == "" && $(".status").val() == "" && $(".Name").val() == "" && $(".FatherName").val() == "" && $(".age").val() == "" && $(".mentalstatus").val() == ""){
            $(".errorspan").css('display' , 'none');
            var span = "<span class='errorspan' style='color:red;'>**You have to fill some fields for Search**</sapn>";
            $(".error").append(span);
            e.preventDefault();    
            return false;
        }
        return true;
    })


    var u1
    $(document).on("click", '#uphone', function() {
        $('#postphone').val("");
        $('#postphoneheading').slideToggle();
        $('#postphone').slideToggle();
    });

    /************************ Start Login  Code ***************************/
    $("#loginphoneno").click(function(){
      $("#phoner").hide();
      $("#phonein").hide();
    });
    $("#loginpassword").click(function(){
      $("#passr").hide();
    });
    $('#loginclick').click(function(){
        var cell = $("#loginphoneno").val();
        var pass = $("#loginpassword").val();

        if(cell.length == 0){
          $("#phoner").show();
          return;
        }
        if(cell.length != 11){
          $("#phonein").show();
          return;
        }
        if(pass.length == 0){
          $("#passr").show();
          return;
        }
        $("#phoner").hide();
        $("#phonein").hide();
        $("#passr").hide();
        $.ajax({
                 url: "/users/login", // Route to the Script Controller method
                type: "post",
            dataType: "json",
                data: {phoneno: cell , password : pass}, // This goes to Controller in params hash, i.e. params[:file_name]
            complete: function() {},
             success: function(data, textStatus, xhr) {
                        if(data == "-1"){
                            $("#invalidlogin").show();
                            return false;
                        }
                        else if (data == "-2"){
                          alert("Error Occur During Login!\nTry Again Later");
                        }
                        else{
                          //window.location.replace("http://localhost:3000/");
                          window.location.replace("https://insaniyat-final-4.herokuapp.com/");

                        }
                      },
               error: function() {
                        alert("Unrecognized Error!\nTry Again Later");
                      }
        });

    });
    /************************ End Login Code ***************************/

    /************************ Start Sign Up Code ***************************/
    
    $(document).on("blur", '#signupphoneno', function() {
           forSignUp();
    }); 
    function forSignUp(){
        $('#signupclick').prop('disabled' , true);
        var phonelength = $('#signupphoneno').val();
        if(phonelength.length != 11){
            $("#signphonein").show();
            $('#signupclick').prop('disabled' , true);
            return;
        }
        $("#signphonein").hide();
        $.ajax({
                 url: "/users/alreadyexist", // Route to the Script Controller method
                type: "post",
            dataType: "json",
                data: {phone: $('#signupphoneno').val()}, // This goes to Controller in params hash, i.e. params[:file_name]
            complete: function() {},
             success: function(data, textStatus, xhr) {
                        if(data == "-1")
                        {
                          $('#codesend').css('display' , 'block');
                          $('#verify-pin').css('display' , 'block');
                          $("#signphone").hide();
                          $('#signupclick').prop('disabled' , true);
                          $('.submit').prop('disabled' , true);
                          $('#signuppassword').css('display' , 'none');        
                        }
                        else
                        {
                          $('#verify-pin').css('display' , 'none');
                          $("#signphone").show();
                          $('#signupclick').prop('disabled', true);
                        }
                      },
               error: function() {
                        alert("Unrecognized Error!\nTry Again Later");
                      }
        });
    }


    $(document).on("click", '#verifynumber', function() {
        $('.pinspan').css('display','none');
        var pinlength = $('#pinfield').val();
        if(pinlength.length != 4){
            var phonecode1 = "<label class='label label-danger' style='font-weight:bold;font-size:06.em'>Enter 4-Digit Pin</label>";
            $("#pinfield").after(phonecode1);
            //$('#signupclick').prop('disabled' , true);
            return;
        }
        $.ajax({
                 url: "/phonenumbers/verify", // Route to the Script Controller method
                type: "post",
            dataType: "json",
                data: {phoneno: $('#signupphoneno').val() , pin: $('#pinfield').val()}, // This goes to Controller in params hash, i.e. params[:file_name]
            complete: function() {},
             success: function(data, textStatus, xhr) {
                        if(data == "1")
                        {
                            $('#verify-pin').css('display' , 'none');
                            $('#signuppassword').css('display' , 'block');
                            $('#signupclick').prop('disabled' , false);    
                            //$('#verify-pin').css('display' , 'none');
                            //var phonecode1= "<span id='phonespan' style='color:red;'>Phone Number Already Register</span>"
                            //$("#signupphoneno").after(phonecode1);
                            //$('#signupclick').prop('disabled' , true);
                        }
                        else
                        {
                            var phonecode2 = "<label class='label label-danger' style='font-weight:bold;font-size:06.em'>Wrong Pin</label>";
                            $("#pinfield").after(phonecode2);
                            //$('#verify-pin').css('display' , 'block');
                            //$('.submit').prop('disabled' , false);        
                        }
                      },
               error: function() {
                        alert("Ajax error!");
                      }
        });           
    });
    /************************ End Sign Up Code ***************************/

 
    /************************ Start Creating User for Post Code ***************************/
    $('#useru').click(function(){
        var a = $("#UUphoneno").val();
        if(a.length > 10)
        {
            $("#incorrectphone").hide();
            var p = "";
            $("#phoneloading").slideToggle();
            $.ajax({
                     url: "/users/createUser1", // Route to the Script Controller method
                    type: "post",
                dataType: "json",
                    data: {phoneno: $("#UUphoneno").val() , name: $("#UUname").val(), password: p}, // This goes to Controller in params hash, i.e. params[:file_name]
                complete: function() {},
                 success: function(data, textStatus, xhr) {
                            if(data != -1)
                            {
                                u1 = data;
                                $("#phoneloading").slideToggle();
                                nowpost();
                            }
                            else if (data == -1)
                            {
                              $("#phoneloading").slideToggle();
                              nowpost1();
                            }
                          },
                   error: function() {
                            $("#phoneloading").slideToggle();
                            alert("Unrecognized Error!\nTry Again Later");
                          }
            });
        }
        else
        {
            $("#incorrectphone").show();
        }
    });
    /************************ End Creating User for Post Code ***************************/

    /************************ Start Loading User for Post Code ***************************/
    $("#usernext").click(function(){
        $.ajax({
                 url: "/users/alreadyexist", // Route to the Script Controller method
                type: "post",
            dataType: "json",
                data: {phone: $("#UUphoneno").val()}, // This goes to Controller in params hash, i.e. params[:file_name]
            complete: function() {},
             success: function(data, textStatus, xhr) {
                        if(data == "-1")
                        {

                        }
                        else
                        {
                            u1 = data;  
                            $('#verification').slideToggle();
                            $('#nextn').hide();
                            $('#post').show();
                        }
                      },
               error: function() {
                        alert("Unrecognized Error!\nTry Again Later");
                      }
        });
    });
    /************************ End Loading User for Post Code ***************************/



     $('#post').click(function(){
        var Uimg = $('#UPpostimg').attr('src');
        var Ustatus;
        if($("#UPstatusl").is(":checked"))
          Ustatus = $("#UPstatusl").val();
        else if($("#UPstatusf").is(":checked"))
          Ustatus = $("#UPstatusf").val();

        var Uplace = $("#UPplace").val();
        var Ucity = $("#UPcity").val();
        var Urelation = $("#UPrelation").val();
        var Ugender = $("#UPgender").val();
        var Uage = $("#UPage").val();
        var Uname = $("#UPname").val();
        var Ufathername = $("#UPfathername").val();
        var Uclothes = $("#UPclothes").val();
        var Uyear = $("select[name='requestdate[(1i)]']").val();
        var Umonth = $("select[name='requestdate[(2i)]']").val();
        var Uday = $("select[name='requestdate[(3i)]']").val();
        var Udate = Uyear+"-"+Umonth+"-"+Uday;
        var Umentalstatus = $("#UPmentalstatus").val();
        var Uclothescolor = $("#UPclothescolor").val();
        var Udesc = $("#UPdescription").val();
        var c = ""; 
        if($("#uuphone").is(":checked"))
            c  = $("#UUphoneno").val();

        $("#postloading").slideToggle();
        //$("#post").prop('disabled' , true);
        $.ajax({
                 url: "/posts/makepostnot", // Route to the Script Controller method
                type: "post",
            dataType: "json",
                data: {id: u1.id,status: Ustatus,img: Uimg,place: Uplace,city: Ucity,relation: Urelation,gender: Ugender,age: Uage,name:Uname,fathername:Ufathername,clothes: Uclothes, date:Udate,mentalstatus:Umentalstatus, clothescolor:Uclothescolor, desc: Udesc, contact: c},
            complete: function() {},
             success: function(data, textStatus, xhr) {
                        
                        if(data != -1)
                        {
                          $("#postloading").slideToggle();
                          window.location.replace("https://insaniyat-final-4.herokuapp.com/");
                          //window.location.replace("http://localhost:3000/")
                        }
                      },
               error: function() {
                        $("#postloading").slideToggle();
                        $("#post").prop('disabled' , false);
                        alert("Unrecognized Error!\nTry Again Later");
                      }
        });
    });



       
        $('#nexts').click(function(){
            var u = $('#userphone').val();
            $('#postphone').val(u);
        });

        $('#useru1').click(function(){
            $('#verification').slideToggle();
            $('#nexts').hide();
            $('#posts').show();
        });
    $(".dropdown").hover(
        function() {
          $('.dropdown-menu', this).stop( true, true ).fadeIn("fast");
          $(this).toggleClass('open');
          $('b', this).toggleClass("caret caret-up");},
        function() {
          $('.dropdown-menu', this).stop( true, true ).fadeOut("fast");
          $(this).toggleClass('open');
          $('b', this).toggleClass("caret caret-up");}
      );

    /* *********************** Loading data in Deatil window of Post ********************************/
    $(document).on("click", '#detailpost', function() {
            var sr = $(this).attr('data-image');
            $('#showimage').attr( "src",sr);
            $('#showstatus').text($(this).attr('data-status')).css('font-weight' , 'bold');
            $('#showdate').text($(this).attr('data-date')).css('font-weight' , 'bold');
            $('#showplace').text($(this).attr('data-place')).css('font-weight' , 'bold');
            $('#showcity').text($(this).attr('data-city')).css('font-weight' , 'bold');            
            $('#showgender').text($(this).attr('data-gender')).css('font-weight' , 'bold');
            $('#showage').text($(this).attr('data-age')).css('font-weight' , 'bold');
            $('#showmentalstatus').text($(this).attr('data-mentalstatus')).css('font-weight' , 'bold');
            $('#showname').text($(this).attr('data-name')).css('font-weight' , 'bold');
            $('#showfathername').text($(this).attr('data-fathername')).css('font-weight' , 'bold');
            $('#showclothes').text($(this).attr('data-clothes')).css('font-weight' , 'bold');
            $('#showclothcolor').text($(this).attr('data-clothescolor')).css('font-weight' , 'bold');
            $('#showdescription').text($(this).attr('data-description')).css('font-weight' , 'bold');         

            $('#showusername').text($(this).attr('data-user-name')).css('font-weight' , 'bold');
            $('#showrelation').text($(this).attr('data-relation')).css('font-weight' , 'bold');
            $('#showcontact').text($(this).attr('data-contact')).css('font-weight' , 'bold');
    });

    /* *********************** Full Screen Modal *******************************8*/
    $(".modal-fullscreen").on('show.bs.modal', function () {
        setTimeout( function() {
            $(".modal-backdrop").addClass("modal-backdrop-fullscreen");
        }, 0);
    });
    $(".modal-fullscreen").on('hidden.bs.modal', function () {
        $(".modal-backdrop").addClass("modal-backdrop-fullscreen");
    });
});