
		<div class="panel panel-default" style="background:#A1887F;">
			<div class="panel-heading">About us</div>
				<div class="panel-body" id="panel_home_images" >
					<h3 class="text-center"><b>Help The HelpLess :)</b></h3>
					<h3><b>Introduction:</b></h3>
					<p><b><i>Insaniyat</i></b> is a platform for those people who are worry because of unfortunately they have lost thier some very dear to them.
					This site will provide them the facility to share the information of missing person here. If some other person having the informatio regarding that 
					missed person visit this site, may will contact to his family to help them to find him.</p>
					<p>If a person found someone who have lost his family or missing, specially in case of accident and in unconscious condition he can post on this forum
					 in order to let his/her family know about his/her condition and location that will help them to find him/her.</p>

					<h3><b>Mission:</b></h3>
					<p>Our Mission is to <b>Help The Helpless</b> people. To provide the facility to post here in order to share the inforamtion of the people who are missing. 
					This portal may will help people to find their love ones, depending upon if some other person who found the missed one have share his/her information on this portal</p>

					<h3><b>Note:</b></h3>
					<p>This Website <b>"Insaniyat"</b> will not provide the gurantee that posting on this site will really make sure that you will find the person about whom you are going to post. It's just a platform to share the information about missing persons.</p>
				</div>
		</div>